@tailwind base;
@tailwind components;
@tailwind utilities;

.wordpress h2 {
  @apply mt-6 mb-4 text-2xl font-semibold text-gray-900 md:mt-8 md:text-3xl;
}

.wordpress h3 {
  @apply mt-6 mb-4 text-xl font-semibold text-gray-900;
}

.wordpress p {
  @apply inline mb-6;
}

.wordpress ul {
  @apply mx-2 mt-4 mb-6;
}

.wordpress strong {
  @apply font-medium;
}

.wordpress li {
  @apply mb-3 list-disc list-inside;
}

.wordpress a {
  @apply font-medium text-blue-500 hover:underline;
}

.wordpress img {
  @apply rounded;
}

.wp-block-group {
  @apply md:my-8;
}

.wp-block-media-text {
  @apply md:flex md:items-center md:h-96;
}

.wp-block-media-text__content {
  @apply md:pl-8;
}

.wp-block-media-text__media img {
  @apply md:rounded-l-lg md:rounded-r-none md:h-96 md:object-cover;
}

.has-media-on-the-right .wp-block-media-text__media {
  @apply md:order-2;
}

.has-media-on-the-right .wp-block-media-text__media img {
  @apply md:rounded-r-lg md:rounded-l-none;
}

.has-media-on-the-right .wp-block-media-text__content {
  @apply md:pr-8;
}

.wp-block-media-text__media {
  @apply md:w-1/2 md:h-96;
}

.wp-block-media-text__content {
  @apply md:w-1/2;
}

.wp-block-image {
  @apply my-6 md:my-10;
}

.wp-block-image img {
  @apply object-cover w-auto rounded h-80 md:h-128 lg:h-140;
}

.wp-block-image figcaption {
  @apply mb-4 text-sm font-normal text-gray-500;
}

.money-saving {
  @apply px-4 py-2 my-4 bg-blue-100 rounded-lg md:py-4 md:px-8;
}

@layer utilities {
  .bg-blur-3 {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .bg-blur-5 {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .bg-blur-8 {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
}
